@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Rubik:ital@1&display=swap');
body {
    margin: 0;
    height: 100%;
    font-family: Rubik, Sans-Serif;
    color: white;
    font-size: 300%;
    overflow: hidden;
    display: grid;
    justify-items: center;
    background: #111111;
}
.bgi {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #111111;
}
.blackness {
    background: black;
    transition: 1s cubic-bezier(.75,0,1,0);
}

.floatup {
    animation: 1s float cubic-bezier(0,.75,0,1);
}
.floatdown {
    transform: scale(10%) translatey(80%);
    opacity: 0;
    transition: 1s cubic-bezier(.75,0,1,0);
}
@keyframes float {
    from { transform: scale(10%) translatey(80%); opacity: 0; }
    tp { transform: scale(100%) translatey(0%); opacity: 1; }
}

#text {
    font-size: 2vw;
    color: white;
    position: absolute;
    top: 60%;
    z-index: 4;
    background-color: #00000066;
    padding: 1vw;
    border-radius: 1vw;
    border: 2px solid #00000066;
    box-shadow: 0px 0px 25px #00000066;
    backdrop-filter: blur(4px);
}
h {
    font-size: 1vw;
    font-family: 'Orbitron', monospace
}
h, p {
    font-weight: normal;
    text-decoration: none;
    margin: 0;
}